export TF_VAR_api_key="glc_eyJvIjoiMTM5OTI1OSIsIm4iOiJzdGFjay0xMjI0Mjk3LWhsLXJlYWQtZ3JhZi10ZXN0LWFwaSIsImsiOiJyTW0zRjc3ejhvejZwNmw5ODVHeE4wZHYiLCJtIjp7InIiOiJwcm9kLWdiLXNvdXRoLTEifX0="
export TF_VAR_loki_endpoint="https://logs-prod-035.grafana.net/loki/api/v1/push"
